<div class="home-page">
  <div class="home-table">
    <h1>Xanadou</h1>
    <p>co-housing, co-owning and co-caring in a sustainable way!</p>
    <%= link_to 'Explore my options', properties_path, { :class=>"button-primary" } %>
  </div>
</div>

